@import 'ColourPicker.module';

.colourSwatch {
  margin-top: $componentPadding / 2;
  height: $componentThickness;
  & > * {
    @include rounded;
    height: 100%;
    float: left;
  }
  & > div {
    width: $componentThickness;
  }
  & > input {
    color: $darkGrey;
    margin-left: $componentPadding;
    font-size: 1rem;
    width: 6em;
    text-align: center;
  }
}
